{% extends 'partials/base.html' %}
{% block title %}Delete-Page{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-6 offset-md-3">
                <div class="border bg-white p-3">
                    <h3>Delete Item</h3>
                    <hr>
                    <div class="alert alert-danger">
                        <h4>Are you sure to Delete this Item ?</h4>
                    </div>
                    <form action="" method="POST">
                        {% csrf_token %}
                        {{form|crispy}}
                        <a href="{% url 'dashboard-product'%}" class="btn btn-secondary">Cancel</a>
                        <input type="submit" value="Confirm" class="btn btn-danger">
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}