{% extends 'partials/base.html' %}

{% block title%} Login Page {% endblock %}

{% load crispy_forms_tags %}


{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            {% for message in messages %}
            {% if message %}
            <div class="alert alert-{{message.tags}}">
                {{message}}
            </div>
            {% endif %}
            {% endfor %}
            <div class="border p-3 bg-white">
                <h3>Login Page</h3>
                <form action="" method="POST">
                    {% csrf_token %}
                    {{form|crispy}}
                    <input type="submit" class="btb btn-success" value="Login">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}