{% extends 'partials/base.html' %}

{% block title%} Logout Page {% endblock %}

{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <div class="border p-1 bg-white">
                <div class="alert alert-danger">
                    <h4>You have been Log Out !</h4>
                </div>
                <a href="{% url 'user-login' %}">Login</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}