{% extends 'partials/base.html' %}

{% block title%} Login Page {% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<!--Table-->
<div class="container">
    <div class="row my-4">
        <div class="col-md-4">

        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-info text-white">
                    Profile Page
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-8">
                            <span class="h4"> Profile Information</span> 
                            <hr>
                            <form method="POST" action="" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{user_form|crispy}}
                                {{profile_form|crispy}}
                                <input type="submit" class="btn btn-info" value="Update"> 
                            </form>

                        </div>
                        <!-- <div class="col-md-4">
                            <img class="img-thumbnail" src="{{user.profile.image.url}}" alt="" style="width: 200px; height: 200px;">
                        </div> -->
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
<!--End Table-->

{% endblock %}
