{% extends 'partials/base.html' %}

{% block title%} Register Page {% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <div class="border bg-white p-3">
                <h3>Registration Page</h3>
                <form action="" method="post" class="">
                    {% csrf_token %}
                    {{form|crispy}}
                    <input type="submit" class="btn btn-success" value="Register">
                </form>
            </div>
        </div>   
    </div>
</div>
{% endblock content %}